<div class="row">
    <section class="col-md-12 quiz">
        <figure>
            <img class="image-1" src="http://i.telegraph.co.uk/multimedia/archive/02033/Ricky-Gervais_2033776c.jpg"
                alt="some alt text" />
            <figcaption>A cheeky macaque, Lower Kintaganban River, Borneo. Original by <a href="http://www.flickr.com/photos/rclark/">Richard Clark</a></figcaption>
        </figure>        
        <p>
            I was finding the idea of writing an about me narrative a bit
            awkward and uncomfortable, so I thought a little quiz could be
            kind of fun!
        </p>
        <form action="#">
            <div class="form-group">
                <p>What was my favorite TV show growing up?</p>
                <div class="radio">
                    <label>
                        <input type="radio" name="question1"
                            value="option1" />
                        The Cosby Show
                    </label>
                </div>
                <div class="radio">
                    <label>
                        <input type="radio" name="question1" value="option2" />
                        Perfect Strangers
                    </label>
                </div>
                <div class="radio">
                    <label>
                        <input type="radio" name="question1" value="option3" />
                        All In The Family
                    </label>
                </div>                
                <div class="radio">
                    <label>
                        <input type="radio" name="question1" value="option4" />
                        MacGyver
                    </label>
                </div>                
            </div>
            <div class="form-group">
                <p>What Eastern European city do my parents hail from?</p>
                <div class="radio">
                    <label>
                        <input type="radio" name="question2"
                            value="option1" />
                        Riga, Latvia
                    </label>
                </div>
                <div class="radio">
                    <label>
                        <input type="radio" name="question2" value="option2" />
                        Bratislava, Slovakia
                    </label>
                </div>
                <div class="radio">
                    <label>
                        <input type="radio" name="question2" value="option3" />
                        Warsaw, Poland
                    </label>
                </div>                
                <div class="radio">
                    <label>
                        <input type="radio" name="question2" value="option4" />
                        Moscow, Mother Russia
                    </label>
                </div>                
            </div>
            <div class="form-group">
                <p>If green is green, then what is seen?</p>
                <div class="radio">
                    <label>
                        <input type="radio" name="question3"
                            value="option1" />
                        Leems
                    </label>
                </div>
                <div class="radio">
                    <label>
                        <input type="radio" name="question3" value="option2" />
                        Jeans, of course!
                    </label>
                </div>
                <div class="radio">
                    <label>
                        <input type="radio" name="question3" value="option3" />
                        Super Duper
                    </label>
                </div>                
                <div class="radio">
                    <label>
                        <input type="radio" name="question3" value="option4" />
                        Trial &amp; Error, y'all
                    </label>
                </div>                
            </div>                        
        </form>
    </section>
</div>