<div class="row">
    <section class="col-md-8 quiz">
        <p>
            I was finding the prospect of writing an &quot;about me&quot; narrative a bit
            awkward and dull, so I thought a little quiz could be kind of fun!
        </p>
        <div id="quiz-results-container">
            <p class="error-msg main-error">
                <span class="glyphicon glyphicon-warning-sign"></span>
                There are one or more errors. Please fix the fields in red.
            </p>
            <p class="quiz-results"></p>
        </div>
        <form action="#">
            <div class="form-group">
                <p class="control-label">What was my favorite TV show growing up?</p>
                <p class="error-msg error-required">This field is required. Please select a value.</p>
                <div class="radio">
                    <input id="q1_option1" type="radio" name="question1" value="option1" />
                    <label for="q1_option1">
                        The Cosby Show
                        <span class="glyphicon glyphicon-ok"></span>
                        <span class="glyphicon glyphicon-remove"></span>                        
                    </label>
                </div>
                <div class="radio">
                    <input id="q1_option2" type="radio" name="question1" value="option2"
                        data-answer="answer" />
                    <label for="q1_option2">
                        Perfect Strangers
                        <span class="glyphicon glyphicon-ok"></span>
                        <span class="glyphicon glyphicon-remove"></span>
                    </label>
                    <p class="answer-explain">
                        Yes. I liked it. I like it a lot. Let's put some more placeholder
                        text in here in the form of useless convoluted banter, blah blah,
                        blah blah.
                    </p>
                </div>
                <div class="radio">
                    <input id="q1_option3" type="radio" name="question1" value="option3" />
                    <label for="q1_option3">
                        All In The Family
                        <span class="glyphicon glyphicon-ok"></span>
                        <span class="glyphicon glyphicon-remove"></span>                        
                    </label>
                </div>                
                <div class="radio">
                    <input id="q1_option4" type="radio" name="question1" value="option4" />
                    <label for="q1_option4">
                        MacGyver
                        <span class="glyphicon glyphicon-ok"></span>
                        <span class="glyphicon glyphicon-remove"></span>                        
                    </label>
                </div>                
            </div>

            <div class="form-group">
                <p class="control-label">What Eastern European city do my parents hail from?</p>
                <p class="error-msg error-required">This field is required. Please select a value.</p>
                <div class="radio">
                    <input id="q2_option1" type="radio" name="question2" value="option1" />
                    <label for="q2_option1">
                        Riga, Latvia
                        <span class="glyphicon glyphicon-ok"></span>
                        <span class="glyphicon glyphicon-remove"></span>                        
                    </label>
                </div>
                <div class="radio">
                    <input id="q2_option2" type="radio" name="question2" value="option2" />
                    <label for="q2_option2">
                        Bratislava, Slovakia
                        <span class="glyphicon glyphicon-ok"></span>
                        <span class="glyphicon glyphicon-remove"></span>                        
                    </label>
                </div>
                <div class="radio">
                    <input id="q2_option3" type="radio" name="question2" value="option3"
                        data-answer="answer" />
                    <label for="q2_option3">
                        Warsaw, Poland
                        <span class="glyphicon glyphicon-ok"></span>
                        <span class="glyphicon glyphicon-remove"></span>                        
                    </label>
                    <p class="answer-explain">
                        It was super groovy!
                    </p>                    
                </div>                
                <div class="radio">
                    <input id="q2_option4" type="radio" name="question2" value="option4" />
                    <label for="q2_option4">
                        Moscow, Mother Russia
                        <span class="glyphicon glyphicon-ok"></span>
                        <span class="glyphicon glyphicon-remove"></span>                        
                    </label>
                </div>                
            </div>

            <div class="form-group">
                <p class="control-label">If green is green, then what is seen?</p>
                <p class="error-msg error-required">This field is required. Please select a value.</p>
                <div class="radio">
                    <input id="q3_option1" type="radio" name="question3"
                        value="option1" />
                    <label for="q3_option1">
                        Leems
                        <span class="glyphicon glyphicon-ok"></span>
                        <span class="glyphicon glyphicon-remove"></span>                        
                    </label>
                </div>
                <div class="radio">
                    <input id="q3_option2" type="radio" name="question3" value="option2" />
                    <label for="q3_option2">
                        Jeans, of course!
                        <span class="glyphicon glyphicon-ok"></span>
                        <span class="glyphicon glyphicon-remove"></span>                        
                    </label>
                </div>
                <div class="radio">
                    <input id="q3_option3" type="radio" name="question3" value="option3" />
                    <label for="q3_option3">
                        Super Duper
                        <span class="glyphicon glyphicon-ok"></span>
                        <span class="glyphicon glyphicon-remove"></span>                        
                    </label>
                </div>                
                <div class="radio">
                    <input id="q3_option4" type="radio" name="question3" value="option4"
                        data-answer="answer" />
                    <label for="q3_option4">
                        Trial &amp; Error, y'all
                        <span class="glyphicon glyphicon-ok"></span>
                        <span class="glyphicon glyphicon-remove"></span>                        
                    </label>
                </div>                
            </div>

            <button type="reset" class="btn btn-default">Try Again</button>
            <button type="submit" class="btn btn-default">Submit</button>                  
        </form>
    </section>

    <section class="col-md-4 photos">
        <figure>
            <img class="img-responsive" src="/images/about-me-holi.JPG"
                alt="Andaman Islands during Holi festival" />
            <figcaption>
                I had the good fortune of being on the
                <a href="http://en.wikipedia.org/wiki/Andaman_Islands" target="_blank">Andaman Islands</a> during
                <a href="http://en.wikipedia.org/wiki/Holi" target="_blank">Holi</a>,
                the ancient Hindu festival of color. As you mosey on down the street
                you get doused with various colored powders and liquids.
            </figcaption>
        </figure>

        <figure>
            <img class="img-responsive" src="/images/about-me-trekking.JPG"
                alt="Trekking in Nepal" />
            <figcaption>
                Trekking in Nepal &mdash; In many places along the way, I could
                have sworn I had stumbled through some type of time travel
                portal, leaving me a few centuries in the past.
            </figcaption>
        </figure>

        <figure>
            <img class="img-responsive" src="/images/about-me-thangka.JPG"
                alt="Thangka painting lessons" />
            <figcaption>
                Another highlight of my time in Nepal,was taking
                <a href="http://en.wikipedia.org/wiki/Thangka" target="_blank">Thangka</a>
                painting lessons. I offer my deepest gratitude to my teacher
                <button id="thanksManoj" data-toggle="modal" data-target="#thanksManojModal"
                    class="btn-link">Manoj</button>.
            </figcaption>
        </figure>        
    </section>

    <div class="modal fade" id="thanksManojModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <img class="img-responsive border-frame" src="/images/manoj.JPG" alt="Manoj - Mental Paradise Thangka Art Workshop" />
                    <p>
                        <em>Mental Paradise Thangka Art Workshop</em><br />
                        Pokhara, Lakeside, Khahare-6, Nepal<br />
                        Pro. Manoj Lama<br />
                        98460-45137, 98191-35569<br />
                        manoj46@hotmail.com
                    </p>
                </div>
            </div>
        </div>
    </div>    
</div>