<div class="row">
    <section class="col-md-8 quiz">
        <p>
            I was finding the prospect of writing an &quot;about me&quot; narrative a bit
            awkward and dull, so I thought a little quiz could be kind of fun!
        </p>
        <div id="quiz-results-container">
            <p class="error-msg main-error">
                <span class="glyphicon glyphicon-warning-sign"></span>
                There are one or more errors. Please fix the fields in red.
            </p>
            <p class="quiz-results"></p>
        </div>
        <form action="#">
            <div class="form-group">
                <p class="control-label">What was my favorite TV show growing up?</p>
                <p class="error-msg error-required">This field is required. Please select a value.</p>
                <div class="radio">
                    <input id="q1_option1" type="radio" name="question1" value="option1" />
                    <label for="q1_option1">
                        Three's Company
                        <span class="glyphicon glyphicon-ok"></span>
                        <span class="glyphicon glyphicon-remove"></span>                        
                    </label>
                </div>
                <div class="radio">
                    <input id="q1_option2" type="radio" name="question1" value="option2"
                        data-answer="answer" />
                    <label for="q1_option2">
                        Perfect Strangers
                        <span class="glyphicon glyphicon-ok"></span>
                        <span class="glyphicon glyphicon-remove"></span>
                    </label>
                    <p class="answer-explain">
                        I watched and really liked all these shows. With characters like
                        Balki Bartokomous, Archie Bunker and Jack Tripper, how can you go
                        wrong? If I absolutely must choose one show, it would have to be
                        this one, but by a infinitesimal margin.
                    </p>
                </div>
                <div class="radio">
                    <input id="q1_option3" type="radio" name="question1" value="option3" />
                    <label for="q1_option3">
                        All In The Family
                        <span class="glyphicon glyphicon-ok"></span>
                        <span class="glyphicon glyphicon-remove"></span>                        
                    </label>
                </div>                
                <div class="radio">
                    <input id="q1_option4" type="radio" name="question1" value="option4" />
                    <label for="q1_option4">
                        MacGyver
                        <span class="glyphicon glyphicon-ok"></span>
                        <span class="glyphicon glyphicon-remove"></span>                        
                    </label>
                </div>                
            </div>

            <div class="form-group">
                <p class="control-label">What Eastern European city do my parents hail from?</p>
                <p class="error-msg error-required">This field is required. Please select a value.</p>
                <div class="radio">
                    <input id="q2_option1" type="radio" name="question2" value="option1" />
                    <label for="q2_option1">
                        Riga, Latvia
                        <span class="glyphicon glyphicon-ok"></span>
                        <span class="glyphicon glyphicon-remove"></span>                        
                    </label>
                </div>
                <div class="radio">
                    <input id="q2_option2" type="radio" name="question2" value="option2" />
                    <label for="q2_option2">
                        Bratislava, Slovakia
                        <span class="glyphicon glyphicon-ok"></span>
                        <span class="glyphicon glyphicon-remove"></span>                        
                    </label>
                </div>
                <div class="radio">
                    <input id="q2_option3" type="radio" name="question2" value="option3"
                        data-answer="answer" />
                    <label for="q2_option3">
                        Warsaw, Poland
                        <span class="glyphicon glyphicon-ok"></span>
                        <span class="glyphicon glyphicon-remove"></span>                        
                    </label>
                    <p class="answer-explain">
                        My mother came to the US with her family when she was a child. Visiting
                        Poland many years later she met my father at a wedding. A romance ensued
                        and after the two were married, they settled back in the US. I was to come
                        along soon after.
                    </p>                    
                </div>                
                <div class="radio">
                    <input id="q2_option4" type="radio" name="question2" value="option4" />
                    <label for="q2_option4">
                        Moscow, Mother Russia
                        <span class="glyphicon glyphicon-ok"></span>
                        <span class="glyphicon glyphicon-remove"></span>                        
                    </label>
                </div>                
            </div>

            <div class="form-group">
                <p class="control-label">What offense was I was suspended for in high school?</p>
                <p class="error-msg error-required">This field is required. Please select a value.</p>
                <div class="radio">
                    <input id="q3_option1" type="radio" name="question3"
                        value="option1" />
                    <label for="q3_option1">
                        Calling my math teacher a &quot;bald asshole&quot;
                        <span class="glyphicon glyphicon-ok"></span>
                        <span class="glyphicon glyphicon-remove"></span>                        
                    </label>
                </div>
                <div class="radio">
                    <input id="q3_option2" type="radio" name="question3" value="option2"
                        data-answer="answer" />
                    <label for="q3_option2">
                        Somewhat accidentally executing a somewhat malicious computer
                        program in the computer lab
                        <span class="glyphicon glyphicon-ok"></span>
                        <span class="glyphicon glyphicon-remove"></span>                        
                    </label>
                    <p class="answer-explain">
                        Ah, a true computer nerd! Yes, I was tinkering around and wrote a program
                        that output a horizontal bar spanning an entire line followed by a blank line.
                        I made a really long loop to output many, many instances of this. Then, I found
                        myself a bit curious as to how this zebra type pattern would look printed.
                    </p>
                    <p class="answer-explain">
                        To make a long story medium length... I meant to print only one page,
                        but the print job seemed not to be going through, so I retried many times.
                        It wasn't until I was called into the dean's office the next morning
                        that I realized the print jobs actually <em>all</em> went through, albeit
                        after a long delay. So, in addition to having to reimburse the school for
                        paper and ink, I got to spend a day of in-school suspension in some stuffy
                        basement classroom. Too bad they didn't let me spend it in the computer lab!
                    </p>                    
                </div>
                <div class="radio">
                    <input id="q3_option3" type="radio" name="question3" value="option3" />
                    <label for="q3_option3">
                        Engaging in fisticuffs with a fellow student.
                        <span class="glyphicon glyphicon-ok"></span>
                        <span class="glyphicon glyphicon-remove"></span>
                    </label>
                </div>                
                <div class="radio">
                    <input id="q3_option4" type="radio" name="question3" value="option4" />
                    <label for="q3_option4">
                        Are you loco in your coco, I wouldn't be suspended!
                        <span class="glyphicon glyphicon-ok"></span>
                        <span class="glyphicon glyphicon-remove"></span>                        
                    </label>
                </div>                
            </div>

            <div class="form-group">
                <p class="control-label">What European city did I study abroad in?</p>
                <p class="error-msg error-required">This field is required. Please select a value.</p>
                <div class="radio">
                    <input id="q4_option1" type="radio" name="question4" value="option1"
                        data-answer="answer" />
                    <label for="q4_option1">
                        Salamanca, Spain
                        <span class="glyphicon glyphicon-ok"></span>
                        <span class="glyphicon glyphicon-remove"></span>                        
                    </label>
                    <p class="answer-explain">
                        In 2001, I spent a trimester studying the Spanish language in this beautiful city. The university was
                        founded in 1218 and has some really amazing golden sandstone architecture containing
                        intricately detailed carvings. The city also has one of the most incredible main squares
                        I've ever seen. Factor all that in with the young energy of a university town, the laid back
                        fiesta &amp; siesta culture of Spain, the intellectual stimulation of learning a new language
                        and culture and you're left with me having a really memorable adventure.
                    </p>                                        
                </div>
                <div class="radio">
                    <input id="q4_option2" type="radio" name="question4" value="option2" />
                    <label for="q4_option2">
                        Krakow, Poland
                        <span class="glyphicon glyphicon-ok"></span>
                        <span class="glyphicon glyphicon-remove"></span>                        
                    </label>
                </div>
                <div class="radio">
                    <input id="q4_option3" type="radio" name="question4" value="option3" />
                    <label for="q4_option3">
                        Porto, Portugal
                        <span class="glyphicon glyphicon-ok"></span>
                        <span class="glyphicon glyphicon-remove"></span>                        
                    </label>
                </div>                
                <div class="radio">
                    <input id="q4_option4" type="radio" name="question4" value="option4" />
                    <label for="q4_option4">
                        Florence, Italy
                        <span class="glyphicon glyphicon-ok"></span>
                        <span class="glyphicon glyphicon-remove"></span>                        
                    </label>
                </div>                
            </div>

            <div class="form-group">
                <p class="control-label">What was the first CD I ever bought?</p>
                <p class="error-msg error-required">This field is required. Please select a value.</p>
                <div class="radio">
                    <input id="q5_option1" type="radio" name="question5" value="option1" />
                    <label for="q5_option1">
                        Ten &mdash; Pearl Jam
                        <span class="glyphicon glyphicon-ok"></span>
                        <span class="glyphicon glyphicon-remove"></span>                        
                    </label>
                </div>
                <div class="radio">
                    <input id="q5_option2" type="radio" name="question5" value="option2" />
                    <label for="q5_option2">
                        Cherry Pie &mdash; Warrant
                        <span class="glyphicon glyphicon-ok"></span>
                        <span class="glyphicon glyphicon-remove"></span>                        
                    </label>
                </div>
                <div class="radio">
                    <input id="q5_option3" type="radio" name="question5" value="option3" />
                    <label for="q5_option3">
                        Please Hammer, Don't Hurt 'Em &mdash; MC Hammer
                        <span class="glyphicon glyphicon-ok"></span>
                        <span class="glyphicon glyphicon-remove"></span>                        
                    </label>
                </div>                
                <div class="radio">
                    <input id="q5_option4" type="radio" name="question5" value="option4"
                        data-answer="answer" />
                    <label for="q5_option4">
                        Nevermind &mdash; Nirvanna
                        <span class="glyphicon glyphicon-ok"></span>
                        <span class="glyphicon glyphicon-remove"></span>                        
                    </label>
                    <p class="answer-explain">
                        In 1993, my freshman year of high school, this was the first CD I ever bought.
                        So, as the <em>compact disc</em> unofficially signaled an end to the <em>cassette</em> era,
                        my first one was the album that unofficially signaled the end of the hair band era. Wow... I'll
                        give you a moment to let the tremendous profundity of that sink in.
                    </p>                    
                </div>                
            </div>

            <div class="form-group">
                <p class="control-label">
                    Recently, my wife and I spent several months traveling abroad. What countries
                    did we visit?
                </p>
                <p class="error-msg error-required">This field is required. Please select a value.</p>
                <div class="radio">
                    <input id="q6_option1" type="radio" name="question6" value="option1" />
                    <label for="q6_option1">
                        Brazil, Argentina and Chile
                        <span class="glyphicon glyphicon-ok"></span>
                        <span class="glyphicon glyphicon-remove"></span>                        
                    </label>
                </div>
                <div class="radio">
                    <input id="q6_option2" type="radio" name="question6" value="option2" />
                    <label for="q6_option2">
                        Poland, Spain and Portugal
                        <span class="glyphicon glyphicon-ok"></span>
                        <span class="glyphicon glyphicon-remove"></span>                        
                    </label>
                </div>
                <div class="radio">
                    <input id="q6_option3" type="radio" name="question6" value="option3" />
                    <label for="q6_option3">
                        Australia and New Zealand
                        <span class="glyphicon glyphicon-ok"></span>
                        <span class="glyphicon glyphicon-remove"></span>                        
                    </label>
                </div>                
                <div class="radio">
                    <input id="q6_option4" type="radio" name="question6" value="option4"
                        data-answer="answer" />
                    <label for="q6_option4">
                        Poland, India and Nepal
                        <span class="glyphicon glyphicon-ok"></span>
                        <span class="glyphicon glyphicon-remove"></span>                        
                    </label>
                    <p class="answer-explain">
                        Yes, it was quite the adventure. After a month in Poland, we spent five months
                        exploring different parts of India. After that we spent a couple of months up in
                        Nepal. This little area seems much too small for me to go into any kind of
                        significant detail of our fascinating journey. Who knows, maybe I'll be inspired to
                        make a blog post or few about it...
                    </p>                    
                </div>                
            </div>

            <div class="form-group">
                <p class="control-label">
                    What was the first programming language I ever learned?
                </p>
                <p class="error-msg error-required">This field is required. Please select a value.</p>
                <div class="radio">
                    <input id="q7_option1" type="radio" name="question7" value="option1"
                        data-answer="answer" />
                    <label for="q7_option1">
                        Basic
                        <span class="glyphicon glyphicon-ok"></span>
                        <span class="glyphicon glyphicon-remove"></span>                        
                    </label>
                    <p class="answer-explain">
                        You got it &mdash; freshman year Computer Science with Mr. Williamson. It wasn't
                        until Junior and Senior year Computer Science that we used Pascal. It wasn't
                        until college that I got into Javascript and Java.
                    </p>                                        
                </div>
                <div class="radio">
                    <input id="q7_option2" type="radio" name="question7" value="option2" />
                    <label for="q7_option2">
                        Pascal
                        <span class="glyphicon glyphicon-ok"></span>
                        <span class="glyphicon glyphicon-remove"></span>                        
                    </label>
                </div>
                <div class="radio">
                    <input id="q7_option3" type="radio" name="question7" value="option3" />
                    <label for="q7_option3">
                        Javascript
                        <span class="glyphicon glyphicon-ok"></span>
                        <span class="glyphicon glyphicon-remove"></span>                        
                    </label>
                </div>                
                <div class="radio">
                    <input id="q7_option4" type="radio" name="question7" value="option4" />
                    <label for="q7_option4">
                        Java
                        <span class="glyphicon glyphicon-ok"></span>
                        <span class="glyphicon glyphicon-remove"></span>                        
                    </label>
                </div>                
            </div>

            <div class="form-group">
                <p class="control-label">
                    What Indian dish did I eat a whole lot of while developing this site?
                </p>
                <p class="error-msg error-required">This field is required. Please select a value.</p>
                <div class="radio">
                    <input id="q8_option1" type="radio" name="question8" value="option1"
                        data-answer="answer" />
                    <label for="q8_option1">
                        Kitchari
                        <span class="glyphicon glyphicon-ok"></span>
                        <span class="glyphicon glyphicon-remove"></span>                        
                    </label>
                    <p class="answer-explain">
                        Mmm &mdash; a tasty, healthy, relatively easy to make one pot meal, light enough to keep
                        the ole noggin thinking clearly, substantial enough to sustain me for a few hours, this was
                        my lunch on most days (a Chipotle burrito covered most of the other ones). I used
                        this <a href="http://www.banyanbotanicals.com/ayurveda/kitch-ghee.html" target="_blank">recipe</a>
                        (the Basic Kitchari one), often adding in some broccoli and okra.
                    </p>                                        
                </div>
                <div class="radio">
                    <input id="q8_option2" type="radio" name="question8" value="option2" />
                    <label for="q8_option2">
                        Dal and Roti
                        <span class="glyphicon glyphicon-ok"></span>
                        <span class="glyphicon glyphicon-remove"></span>                        
                    </label>
                </div>
                <div class="radio">
                    <input id="q8_option3" type="radio" name="question8" value="option3" />
                    <label for="q8_option3">
                        Bhindi masala
                        <span class="glyphicon glyphicon-ok"></span>
                        <span class="glyphicon glyphicon-remove"></span>                        
                    </label>
                </div>                
                <div class="radio">
                    <input id="q8_option4" type="radio" name="question8" value="option4" />
                    <label for="q8_option4">
                        Saag Paneer
                        <span class="glyphicon glyphicon-ok"></span>
                        <span class="glyphicon glyphicon-remove"></span>                        
                    </label>
                </div>                
            </div>            

            <button type="reset" class="btn btn-default">Try Again</button>
            <button type="submit" class="btn btn-default">Submit</button>                  
        </form>
    </section>

    <section class="col-md-4 photos">
        <figure>
            <div class="defer-image">
                <div data-class="img-responsive" data-src="/images/about-me-holi.JPG"
                    data-alt="Andaman Islands during Holi festival"></div>
            </div>
            <figcaption>
                I had the good fortune of being on the Andaman Islands during Holi,
                the ancient Hindu festival of color. As you mosey on down the street
                you get doused with various colored powders and liquids.
            </figcaption>
        </figure>

        <figure>
            <div class="defer-image">
                <div data-class="img-responsive" data-src="/images/about-me-trekking.JPG"
                    data-alt="Trekking in Nepal"></div>
            </div>
            <figcaption>
                Trekking in Nepal &mdash; In many places along the way, I could
                have sworn I had stumbled through some type of time travel
                portal, leaving me a few centuries in the past.
            </figcaption>
        </figure>

        <figure>
            <div class="defer-image">
                <div data-class="img-responsive" data-src="/images/about-me-thangka3.JPG"
                    data-alt="Thangka painting lessons"></div>
            </div>
            <figcaption>
                Another highlight of my time in Nepal, was taking Thangka painting lessons.
<!--                 I offer my deepest gratitude to my teacher
                <button id="thanksManoj" data-toggle="modal" data-target="#thanksManojModal"
                    class="btn-link">Manoj</button>. -->
            </figcaption>
        </figure>
    </section>

    <div class="modal fade" id="thanksManojModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <img class="img-responsive border-frame" src="/images/manoj.JPG" alt="Manoj - Mental Paradise Thangka Art Workshop" />
                    <p>
                        <em>Mental Paradise Thangka Art Workshop</em><br />
                        Pokhara, Lakeside, Khahare-6, Nepal<br />
                        Pro. Manoj Lama<br />
                        98460-45137, 98191-35569<br />
                        manoj46@hotmail.com
                    </p>
                </div>
            </div>
        </div>
    </div>    
</div>