<div class="row">
    <section class="col-md-8 album-page">
        <h1><%= typeof(slug) !== 'undefined' ? 'Update' : 'Create' %> Album</h1>
        <form action="#" class="album-form">
            <div class="form-group">
                <label for="albumTitle" class="required">Title</label>
                <input id="albumTitle" type="text" class="form-control" name="title" placeholder="Please enter a title" value="<%= typeof(title) === 'undefined' ? '' : title %>" />
            </div>
            <div class="form-group">
                <label class="required">Photos</label>
                <input class="btn btn-default cloudinary_fileupload form-control" type="file" name="file" multiple />
                <div class="uploads"></div>
               <div class="photo-thumbs">
                    <% if (typeof(photos) !== 'undefined') {
                           for (var i = 0; i < photos.length; i++) {
                                print(template('app/scripts/templates/photo-thumb.ejs',
                                    photos[i]));
                            }
                        } %>
                </div>
            </div>

            <button type="submit" class="btn btn-primary">Save</button>
            <!-- <button type="reset" class="btn btn-default">Reset</button> -->
        </form>
    </section>
</div>

<div class="modal fade" id="albumPhotoModal">
    <div class="modal-dialog">
        <div class="modal-content"></div>
    </div>
</div>
