<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">
        <span aria-hidden="true">&times;</span>
        <span class="sr-only">Close</span>
    </button>
    <h3 class="modal-title">Update Photo</h3>
</div>
<div class="modal-body">
    <form action="#">
        <div class="form-group">
            <label>Title</label>
            <input type="text" class="form-control" name="title" value="<%= typeof(title) === 'undefined' ? '' : title %>" />
        </div>
        <div class="form-group">
            <label>Caption</label>
            <input type="text" class="form-control" name="caption" value="<%= typeof(caption) === 'undefined' ? '' : caption %>" />
        </div>
    </form>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
    <button type="button" class="btn btn-primary">Save</button>
</div>
