<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">
        <span aria-hidden="true">&times;</span>
        <span class="sr-only">Close</span>
    </button>
    <h3 class="modal-title">Update Photo</h3>
</div>
<div class="modal-body">
    <form action="#" class="album-photo-form">
        <div class="form-group">
            <label>Title</label>
            <input type="text" class="form-control" name="title" maxlength="150" value="<%= typeof(title) === 'undefined' ? '' : title %>" />
        </div>
        <div class="form-group">
            <label>Caption</label>
            <textarea class="form-control" name="caption" maxlength="1500"><%= typeof(caption) === 'undefined' ? '' : caption %></textarea>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
    <button type="button" class="btn btn-primary">OK</button>
</div>
