<div class="album">
<% for (var i=0; i < photos.length; i++) {
    var p = photos[i];
    %>

    <div class="defer-image photo">
        <div data-class="img-responsive"
            data-src="<%= clUrl(p.cloudinary.id + '.' + p.cloudinary.data.format, { height: 800, width: deviceWidth(), crop: 'fit'}) %>"
            style="padding-top: <%= phTopPadding(p.cloudinary.data.width, p.cloudinary.data.height) %>%">
        </div>
    </div>

<% } %>
</div>
