<header>
    <div class="logo">
        <a href="/">robmisio.com</a>
    </div>
    <nav class="clearfix">
        <ul class="list-unstyled">
            <li>
                <a href="/blog">blog</a>
            </li>
            <li>
                <a href="/about">about</a>
            </li>                
        </ul>
    </nav>
</header>
<div id="page-container"></div>

