<header id="header-main">
    <nav class="clearfix">
        <a href="#menu" class="button-mobile-menu">Menu</a>
        <div class="logo">
            <a href="/">robmisio.com</a>
        </div>        
        <ul class="list-unstyled">
            <li>
                <a href="/blog">blog</a>
            </li>
            <li>
                <a href="/about">about</a>
            </li>                
        </ul>
    </nav>
</header>
<div id="page-container"></div>
<div id="page-overlay"></div>

