<div class="row">
    <ul class="col-md-4 blog-list list-unstyled">
        <%
            var context = {};
            for (var i=0; i < collection.length; i++) {
                var context = collection[i];
                context['BLOG_ENTRY_URL_PREFIX'] = BLOG_ENTRY_URL_PREFIX;                 
                print(template('app/scripts/templates/blog-list-item.ejs', context));
            }
        %>
    </ul>
    <section class="col-md-8 blog-entry"></section>
</div>