<article>
    <header>
        <h1><%= title %></h1>
        <p class="author-time-tagline">
            By <span>Rob Misiorowski</span>
            <time datetime="<%= createdAt %>" pubdate><%= timeAgo(createdAt) %></time>
        </p>
    </header>
    <%= content %>
</article>
