<div class="row">
    <ul class="col-md-4 blog-list list-unstyled">
        <% for (var i=0; i < collection.length; i++) {
            print(template('app/scripts/templates/blog-list-item.ejs',
                collection[i]));
        } %>
    </ul>

    <section class="col-md-8 blog-entry"></section>
</div>