<li class="clearfix">
    <h2><a href="#"><%= title %></a></h2>
    <div class="time-bar">
        <time datetime="<%= createdAt %>"><%= timeAgo(createdAt) %></time>
        <p>reading now</p>
    </div>
    <div class="spinner"></div>
</li>