<div class="defer-image photo-thumb image-ratio:1x1">
    <div data-class="img-responsive"
        data-src="<%= clUrl(cloudinary.id + '.' + cloudinary.data.format, { height: 185, width: 185, crop: 'fill'}) %>">
    </div>
    <button class="remove-thumb btn btn-default">X</button>
</div>
