<div class="defer-image photo-thumb image-ratio:1x1">
    <div data-class="img-responsive" data-src="<%= clImgUrl({ path: cloudinary.data.path,
        url: cloudinary.data.url,
        width: 185,
        height: 185,
        crop: 'fill' }) %>">
    </div>
    <button class="remove-thumb btn btn-default">X</button>
</div>
