<ul class="social-links list-unstyled">
    <li>
        <a href="https://github.com/rmisio" target="_blank" alt="GitHub" class="github"></a>
    </li>
    <li>
        <a href="https://www.linkedin.com/in/robmisio" target="_blank" alt="LinkedIn" class="linkedin"></a>
    </li>
    <li>
        <a href="http://stackoverflow.com/users/632806/robmisio" target="_blank" alt="Stack Overflow" class="stackoverflow"></a>
    </li>
</ul>