<ul class="work-list clearfix">
  <li>
    <a href="/work/lifeforecast">
      <div class="image-wrap">
        <img src="images/work/lifeforecast-thumb.jpg" alt="Life Forecast | Get Old" />
      </div>
      <div class="content">
        <h2>Life Forecast</h2>
        <ul class="tags">
          <li>responsive</li>
          <li>sass</li>
          <li>backbone</li>
          <li>requirejs</li>
          <li>ejs</li>
          <li>grunt</li>
          <li>jquery</li>
          <li>velocity.js</li>
        </ul>
      </div>
    </a>
  </li>
</ul> 