.work-detail-page {
  .images {
    float: left;
    margin-right: 30px;
    width: 60%;

    img {
      width: 100%;
    }
  }

  .content {
    h1 {
      margin-bottom: 5px;
    }

  }

  .tags {
    margin-bottom: 20px;
  }

  @include mq($until: desktop) {
    .images {
      margin: 0;
      width: auto;
      float: none;
    }

    .content {
      margin-top: 40px;
    }
  }
}