$two-col-bp: 1200px;

.work-page {
  ul.work-list {
    list-style-type: none;
    padding: 0;
    margin: 50px auto;

    & > li {
      float: left;
      width: 348px;
      height: 348px;
      border-radius: 50%;
      padding: 10px;
      background: $gray-lighter;
      border: 1px solid #b9b9b9;      
      overflow: hidden;
      position: relative;
      margin-bottom: 20px;

      &:nth-of-type(3n + 2) {
        margin-right: 42px;
        margin-left: 42px;
      }

      a {
        .image-wrap {
          img {
            border: 1px solid #b9b9b9;
            border-radius: 50%;
            width: 100%;
          }

          &::after {
            content: '';
            opacity: 0;
            position: absolute;
            top: 0;
            border: 11px solid $gray-light;
            left: 0;
            bottom: 0;
            right: 0;
            border-radius: 50%;
            z-index: 100;
            @include transition(opacity 0.1s ease-in 0.2s);
          }          
        }
      }

      .content {
        position: absolute;
        bottom: -50%;
        left: 0;
        right: 0;
        text-align: center;
        padding: 15px 45px 70px;
        color: white;
        background-color: black;
        background-color: rgba(0, 0, 0, 0.6);
        @include transition(bottom 0.2s ease-in);

        h2 {
          margin: 0;
          font-size: 22px;
        }

        .tags {
          display: none;
        }
      }

      &:hover {
        border-color: #969696;

        a {
          .image-wrap {
            img {
              border-color: #969696;
            }

            &::after {
              opacity: 1;
              @include transition(opacity 0.1s ease-in);
            }            
          }

          .content {
            bottom: 0;
          }
        }
      }
    }
  }

  @include mq($until: $two-col-bp) {
    ul.work-list {
      width: 728px;

      & > li {
        width: 345px;
        height: 345px;

        &:nth-of-type(odd) {
          margin-right: 19px;
          margin-left: 0;
        }

        &:nth-of-type(even) {
          margin-right: 0;
          margin-left: 19px;
        }
      }
    }
  }

  @include mq($until: tablet) {
    ul.work-list {
      width: auto;
      margin-top: 35px;
      margin-bottom: 35px;      

      & > li {
        float: none;
        width: auto;
        height: auto;        
        padding: 0;
        padding-bottom: 30px;
        border-radius: 0;
        border: 0;
        background: none;
        border-bottom: 1px solid $gray-lighter;
        border-color: $gray-lighter !important;

        &:nth-of-type(n) {
          margin-left: 0;
          margin-right: 0;
        }

        &:last-child {
          border: none;
          margin-bottom: 0;
        }

        .image-wrap {
          width: 40%;
          background: $gray-lighter;
          border-radius: 50%;
          padding: 5px;
          float: left;

          img {
            border-radius: 50%;
          }

          &::after {
            display: none !important;
          }
        }
  
        .content {
          position: static;
          color: $text-color;
          background-color: transparent;
          text-align: left;
          padding: 35px 20px;
          padding-bottom: 0;
          margin-left: 40%;

          h2 {
            font-size: 24px;
            margin-bottom: 5px;
          }

          .tags {
            display: block;
          }      
        }
      }
    }
  }

  @include mq($until: mobile) {
    ul.work-list {
      margin-top: 25px;
      margin-bottom: 25px;

      & > li {
        padding-bottom: 20px;

        .image-wrap {
          width: 35%;
        }

        .content {
          padding: 15px;
          padding-bottom: 0;
          margin-left: 35%;

          h2 {
            font-size: 22px;
            margin-bottom: 2;
          }
        }
      }
    }
  }  

  @include mq($until: s-mobile) {
    ul.work-list {
      & > li {
        .content {
          padding-top: 10px;
        }
      }
    }
  }    
}