$icon-font-path: "/bower_components/sass-bootstrap/fonts/";

@import 'sass-bootstrap/lib/bootstrap';

// colors
$brand-primary: #fd6500;
$link-color:    $brand-primary;

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

body {
    padding: 10px 0;
    background: white url(../images/page-bg.png) repeat-x 0 3px;
}


a {
    color:  $link-color;

    &:hover {
        text-decoration: none;
        color: $link-color;
    }
}

header {
    margin-bottom: 20px;

    .logo {
        float: left;

        a {
            display: block;
            text-indent: -999px;
            width: 36px;
            height: 43px;
            background: transparent url(../images/logo.png) no-repeat center;
        }
    }

    nav {
        margin: 0 10px;

        li {

            a {
                float: left;
                text-transform: uppercase;
                margin: 13px 5px 8px;
                padding-bottom: 18px;
                border-bottom: 2px solid transparent;
                color: #aaa;

                &.active, &:hover {
                    border-bottom: 2px solid $brand-primary;
                }
            }

            &:first-child a {
                margin-left: 10px;
            }
        }


    }
}

// Blog page

@-ms-keyframes blog-list-loading-on {
    from { background-position: center -10px; }
    to { background-position: center; }
}

@-o-keyframes blog-list-loading-on {
    from { background-position: center -10px; }
    to { background-position: center; }
}

@-moz-keyframes blog-list-loading-on {
    from { background-position: center -10px; }
    to { background-position: center; }
} 

@-webkit-keyframes blog-list-loading-on {
    from { background-position: center -10px; }
    to { background-position: center; }
} 

@keyframes blog-list-loading-on {
    from { background-position: center -10px; }
    to { background-position: center; }
}

.blog-list {
    li {

        position: relative;
        padding: 10px 0;

        h2 {
            margin-top: 0;
        }

        .time-bar {
            time, p {
                margin: 0;
            }

            time {
                float: left;
            }

            p {
                display: none;
                float: right;
            }
        }

        &.active {
            .time-bar p {
                display: block;
            }
        }

        &:hover {
            cursor: pointer;
            background-color: orange;
        }

        .spinner {
            display: none;
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            background-color: rgb(255, 255, 255) transparent;
            background: rgba(255, 255, 255, 0.2) url(../images/spinner-bar-80-x-10.gif) no-repeat center;
        }

        &.loading .spinner {
            display: block;
            -ms-animation: blog-list-loading-on ease-in-out 0.2s;
            -o-animation: blog-list-loading-on ease-in-out 0.2s;
            -moz-animation: blog-list-loading-on ease-in-out 0.2s;
            -webkit-animation: blog-list-loading-on ease-in-out 0.2s;
            animation: blog-list-loading-on ease-in-out 0.2s;
        }
    }
}

.blog-entry {
}

// END - Blog page