$icon-font-path: "/bower_components/sass-bootstrap/fonts/";

@import 'sass-bootstrap/lib/bootstrap';

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

body {
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #fff;
}

/* Blog page */

.blog-list {
    background-color: #CCC;
}

.blog-entry {
    background-color: #DDD;
}

/* END - Blog page */