<p>
    This past March, my wife and I had the good fortune of spending some time on the Andaman Islands. The Andaman Islands are a group of islands located in the Bay of Bengal, in between India and Burma. While they lie significantly closer to Burma, the majority of the Islands belong to India.
</p>

<p>
    We happened to be there during Holi, the ancient Hindu festival of color. As you walk down the street, you are doused and smeared with various brightly colored powders and liquids. The liquid form is shot at you from varying types of water guns or the occasional water balloon. The powder form may be thrown at you, but more commonly is simply smeared onto you as you smilingly resign yourself to your colorful fate. All the meanwhile, the person or persons responsible for the act cheerfully wish you a "Happy Holi" (pronounced <i>Holly</i>) as they complete the deed.
</p>

<p>
    <i>Please Note:</i> The vast majority of these photos have been taken by my talented wife, Mangala. If you would like to see more of her work, please feel free to check out <a href="http://bohostella.com/" target="_blank">her blog</a>.
</p>

<div class="album-container"></div>
