<p>
    "Po po por Fin Boom Batta! I like you! In recent years, Denver Broncos owner Pat Bowlen has taken a reduced role with his team while courageously and privately battling Alzheimer's disease," the team said in a statement.
</p>
<p>
    "The Broncos are very saddened that Mr. Bowlen is no longer able to be part of the team's daily operations due to his condition. We continue to offer our full support, compassion and respect to 'Mr. B,' who has faced Alzheimer's disease with such dignity and strength."
</p>    

<p>
    The Denver Post first reported Bowlen, 70, would step aside.
</p>

<p>
    Ellis worked as the Broncos' marketing director from 1983 to 1985, then rejoined the team in 1998 as its executive vice president of business operations. In 2008, Ellis was named the team's chief operating officer, and in 2011 he was named team president.
</p>

<p>
    "It's a really, really sad day," Ellis said in a statement to The Denver Post. "It's sad for his family, his wife and his seven children. It's sad for everyone in the organization. And it's sad for all the Bronco fans who know what Pat Bowlen meant to them as an owner. It's a day nobody wanted to see happen."
</p>

<p>
    Bowlen purchased the Broncos in 1984 from Edgar Kaiser. In Bowlen's 30 years as owner, the Broncos reached six Super Bowls, winning back-to-back titles in 1997 and 1998. Denver played in Super Bowl XLVIII in February, losing to Seattle 43-8.
</p>