<p>
    Woot Wiggles Em Dasher! Clippers' pieces aren't enough at the moment for the Nets, should Brooklyn opt to go the sign-and-trade route. While nothing is imminent, it's possible a potential trade could expand to more teams as discussions progress.
</p>
<p>
    While the Clippers have interest in Pierce, sources said they continue to try to get involved with superstars Carmelo Anthony and LeBron James and are reluctant to make major moves while there is still a chance at landing the two free agents.
</p>
<p>
    Pierce drew interest as soon as free agency began from the Blazers, Grizzlies, Bulls, Mavericks, Rockets and Clippers, sources told ESPN's Marc Stein.
</p>
<p>
    who agreed to an estimated $16 million, three-year deal with the Warriors in free agency, as reported by Stein -- the Nets are looking into adding another point guard. A league source said the Nets have had discussions about revisiting a deal with the Cleveland Cavaliers involving Jarrett Jack for Marcus Thornton. The two teams had talks about a potential deal last month, sources told Stein.
</p>
<p>
    Pauly and  off on a to Brooklyn last summer in exchange for three first-round picks that went to Boston. Then-Nets coach Jason Kidd played a role in convincing Garnett to waive his no-trade clause.
</p>