<p>
    I’ve had a little fun putting together a <a href="http://rmisio.github.io/be-bloggin/" target="_blank">prototype</a> of a
    Medium.com style blog feed using Firebase, BackboneFire & MediumEditor. This is my first time working with these
    technologies and this process has given me a good arena to check them out. Here is my
    <a href="https://medium.com/@robmisio/a-medium-esque-blog-feed-using-firebase-backbone-mediumeditor-838f074251da"
        target="_blank">write-up</a> on Medium.com with some thoughts.
</p>
