<p>
    One of the really cool things I did during my time in Nepal last spring was taking Thangka painting lessons. Thangka painting is a very illustrative style of painting often containing various Buddhist imagery and deities. I always thought it was purely a Tibetan art form, but it actually originated in Nepal before being exported to Tibet.
</p>

<p>
    I took the lessons for about 2.5 half weeks, which really consisted of roughly 5% instruction/critique from the teacher and 95% hammering away at my chosen piece. I usually went to the studio after breakfast and worked for about 3 hours before lunch. On quite a few days, I returned for a couple of hours in the afternoon to do a bit more work. I usually worked 3 or 4 days in a row before taking a day off, where I would often escape to the hills surrounding Pokhara for a mini trek.
</p>

<p>
    Anyhow, it was definitely a special experience. I hope you enjoy the photos.
</p>

<div class="album-container"></div>

<h2>Study With Manoj</h2>

<p>
    If you find yourself in Pokhara and you would like to study with Manoj, please make sure you bring the right "mind and concentration" :)) If you're confident you can handle that, you can find him here:
</p>

<address>
    <strong>Mental Paradise Thangka Art Work Shop</strong><br>
    Pokhara, Lakeside, Khahare-6, Nepal<br>
    Pro. Manoj Lama<br>
    98460-45137, 98191-35569<br>
    manoj46 &lt;at&gt; hotmail.com
</address>
