{ "id": "53b57238c4d5849e0f063c19" }
<p>
    "IIIII was disappointed immediately because I know how big of an opportunity it is and how great it is to play in the World Cup so the first couple of days were really tough for me.
</p>
<p>
    "I had such <a href="/about">high expectations</a> for my team and for myself. I was really excited about the opportunity of playing against some of the world's best players and making my mark but, at the same time, everything happens for a reason and I am committed to getting better and being a player on this team that can take us to the next level."
</p>    
<p>
    Altidore, 24, added that he and his fellow squad members had mixed feelings about their campaign, which saw them progress them progress through the so-called "group of death" but be sent home after the first knockout round.
</p>
<p>
    "I think we performed well but, at the same time, if you go around and ask some of the guys, we definitely felt like we could have went a little further," he added. "Things happen, you know, circumstances change. We had some injuries and in the end, we just weren't able to get over that last hump in terms of Belgium."
</p>
<p>
    "IIIII was disappointed immediately because I know how big of an opportunity it is and how great it is to play in the World Cup so the first couple of days were really tough for me.
</p>
<p>
    "I had such <a href="/about">high expectations</a> for my team and for myself. I was really excited about the opportunity of playing against some of the world's best players and making my mark but, at the same time, everything happens for a reason and I am committed to getting better and being a player on this team that can take us to the next level."
</p>    
<p>
    Altidore, 24, added that he and his fellow squad members had mixed feelings about their campaign, which saw them progress them progress through the so-called "group of death" but be sent home after the first knockout round.
</p>
<p>
    "I think we performed well but, at the same time, if you go around and ask some of the guys, we definitely felt like we could have went a little further," he added. "Things happen, you know, circumstances change. We had some injuries and in the end, we just weren't able to get over that last hump in terms of Belgium."
</p>
<p>
    "IIIII was disappointed immediately because I know how big of an opportunity it is and how great it is to play in the World Cup so the first couple of days were really tough for me.
</p>
<p>
    "I had such <a href="/about">high expectations</a> for my team and for myself. I was really excited about the opportunity of playing against some of the world's best players and making my mark but, at the same time, everything happens for a reason and I am committed to getting better and being a player on this team that can take us to the next level."
</p>    
<p>
    Altidore, 24, added that he and his fellow squad members had mixed feelings about their campaign, which saw them progress them progress through the so-called "group of death" but be sent home after the first knockout round.
</p>
<p>
    "I think we performed well but, at the same time, if you go around and ask some of the guys, we definitely felt like we could have went a little further," he added. "Things happen, you know, circumstances change. We had some injuries and in the end, we just weren't able to get over that last hump in terms of Belgium."
</p>
<p>
    "IIIII was disappointed immediately because I know how big of an opportunity it is and how great it is to play in the World Cup so the first couple of days were really tough for me.
</p>
<p>
    "I had such <a href="/about">high expectations</a> for my team and for myself. I was really excited about the opportunity of playing against some of the world's best players and making my mark but, at the same time, everything happens for a reason and I am committed to getting better and being a player on this team that can take us to the next level."
</p>    
<p>
    Altidore, 24, added that he and his fellow squad members had mixed feelings about their campaign, which saw them progress them progress through the so-called "group of death" but be sent home after the first knockout round.
</p>
<p>
    "I think we performed well but, at the same time, if you go around and ask some of the guys, we definitely felt like we could have went a little further," he added. "Things happen, you know, circumstances change. We had some injuries and in the end, we just weren't able to get over that last hump in terms of Belgium."
</p>
<p>
    "IIIII was disappointed immediately because I know how big of an opportunity it is and how great it is to play in the World Cup so the first couple of days were really tough for me.
</p>
<p>
    "I had such <a href="/about">high expectations</a> for my team and for myself. I was really excited about the opportunity of playing against some of the world's best players and making my mark but, at the same time, everything happens for a reason and I am committed to getting better and being a player on this team that can take us to the next level."
</p>    
<p>
    Altidore, 24, added that he and his fellow squad members had mixed feelings about their campaign, which saw them progress them progress through the so-called "group of death" but be sent home after the first knockout round.
</p>
<p>
    "I think we performed well but, at the same time, if you go around and ask some of the guys, we definitely felt like we could have went a little further," he added. "Things happen, you know, circumstances change. We had some injuries and in the end, we just weren't able to get over that last hump in terms of Belgium."
</p>
<p>
    "IIIII was disappointed immediately because I know how big of an opportunity it is and how great it is to play in the World Cup so the first couple of days were really tough for me.
</p>
<p>
    "I had such <a href="/about">high expectations</a> for my team and for myself. I was really excited about the opportunity of playing against some of the world's best players and making my mark but, at the same time, everything happens for a reason and I am committed to getting better and being a player on this team that can take us to the next level."
</p>    
<p>
    Altidore, 24, added that he and his fellow squad members had mixed feelings about their campaign, which saw them progress them progress through the so-called "group of death" but be sent home after the first knockout round.
</p>
<p>
    "I think we performed well but, at the same time, if you go around and ask some of the guys, we definitely felt like we could have went a little further," he added. "Things happen, you know, circumstances change. We had some injuries and in the end, we just weren't able to get over that last hump in terms of Belgium."
</p>