{ "id": "53b57238c4d5849e0f063c17" }
<p>
    In a groundbreaking decision, the NFL has confirmed that arbitrator Stephen Burbank denied Graham's request to officially be declared a wide receiver under the NFL's franchise-tag rules.
</p>
<p>
    The Saints won big in arbitration. Now they need to do right by Jimmy Graham -- and that means offering him a long-term deal worth $10 million per year, Mike Triplett writes. Story
</p>
<p>
    ESPN Radio's Mark Schlereth shares his thoughts on the denial of Jimmy Graham's request to officially be declared a WR under the NFL's franchise-tag rules and more. PodCast
</p>
<p>
    Although Graham lined up either in the slot or out wide on 67 percent of his snaps last year, Burbank agreed with the New Orleans Saints and the NFL Management Council, who argued that the tight end position has always involved a combination of splitting out wide to run pass routes and staying in to block -- especially in today's modern passing offenses.
</p>
<p>
    Graham and the NFL Players Association can appeal the decision within 10 days to a three-member appeals panel. 
</p>
<p>
    In the meantime, the Saints will not have to increase their one-year tender offer of $7.053 million to Graham. The receiver tender would have cost them $12.132 million.
</p>